@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;600&display=swap");

:root {
  font-family: "Outfit", sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 45%;
  display: inherit;
  height: inherit;
  justify-content: inherit;
  align-items: inherit;
  margin: 0 auto;
}
