.TaskCard {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas: "TaskCardIcon TaskCardTitle TaskCardStatus";
  align-items: center;
  gap: 0 1.2em;
  border-radius: 1em;
  padding: 0.8em 1em;
  background-color: #e3e8ef;
}

.TaskCard-icon,
.TaskCard-status {
  border-radius: 0.8em;
  padding: 0.8em;
}

.TaskCard-icon {
  grid-area: TaskCardIcon;
  background-color: #fff;
  width: 100%;
  align-self: self-start;
}

.TaskCard-content {
  grid-area: TaskCardTitle;
  align-self: self-start;
  margin-top: 0.5em;
  padding: 0 1em 0 0;
}

.TaskCard-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.TaskCard-description {
  font-size: 1em;
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 0.6em;
  margin-right: 5em;
}

.TaskCard-status {
  grid-area: TaskCardStatus;
  background-color: #e9a23b;
  width: fit-content;
}

.TaskCard__inprogress {
  background-color: #f5d565;
}

.TaskCard__inprogress .TaskCard-status {
  background-color: #e9a23b;
}

.TaskCard__completed .TaskCard-status {
  background-color: #32d657;
}

.TaskCard__wontdo .TaskCard-status {
  background-color: #dd524c;
}

.TaskCard__completed {
  background-color: #a0ecb1;
}

.TaskCard__wontdo {
  background-color: #f7d4d3;
}
